body {
    background: rgb(137,137,163);
}

h1 {
    font-size:5opx;
color: bisque;

}

p {
    font-size: 25px;
    color: black;

}

footer{
    background-color: blueviolet;
    font-size: 30px;
color:

}


    